<main>
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section section-lg section-hero section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"> </span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="container">
                            <h2 class="display-1 text-white"> Products</h2>
                            <hr style="background: #fff;">
                            <div class="row">
                                <div class="col-md-6" *ngFor="let product of products | async">
                                    <article class="card">
                                        <div class="card__thumb">
                                            <a href="#"> <img src="{{product.image}}" alt="{{product.name}}" class="img-fluid"> alt=""></a>
                                        </div>
                                        <div class="card__price">
                                            <div class="card__price__value">
                                                {{product.price}}$
                                            </div>

                                        </div>
                                        <div class="card__body">
                                            <div class="card__category"> <a href="#">{{product.category}}</a> </div>
                                            <h2 class="card__title"> <a href="">{{product.name}}</a> </h2>

                                            <p class="card__description"> {{product.description | slice:0:255 }}
                                            </p>
                                        </div>
                                        <footer class="card__footer">
                                            <a [routerLink]="['/product']"> <button class="card__btn"><i class="ni ni-bullet-list-67"></i></button></a>
                                            <button class="card__btn"> <i class="ni ni-cart"></i></button>
                                        </footer>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
            </div>
        </section>
    </div>

</main>