<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">


                        <!-- /BREADCRUMB -->

                        <!-- SECTION  cart items details -->
                        <section>

                            <div class="container cart__cont">


                                <div class="table-responsive cart__table">
                                    <table class="table align-items-center table-dark table-flush ">
                                        <thead class="thead-dark ">
                                            <tr>
                                                <th scope="col">Poducts</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">quantity</th>
                                                <th scope="col">subTotal</th>
                                                <th scope="col" class="d-flex justify-content-center">remove</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="cart__tr">
                                                <th scope="row">
                                                    <div class="media align-items-center ">
                                                        <a href="" class="avatar rounded-circle mr-3">
                                                            <img alt="" src="./assets/img/p/category-1.jpg">
                                                        </a>
                                                        <div class="media-body">
                                                            <span class="mb-0 text-sm">iphone 12 </span>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td>
                                                    <div class="d-flex align-items-center ">
                                                        $1200
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center ">
                                                        <div class="form-group card__qty">
                                                            <input type="number" class="form-control" id="cart__qty" value="3">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center ">
                                                        3600$
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center justify-content-center cart__remove ">
                                                        <i class="ni ni-fat-remove"></i>
                                                    </div>
                                                </td>


                                            </tr>

                                        </tbody>
                                    </table>

                                    <table class="cart__tot">
                                        <thead class="cart__total">
                                            <td>Total:</td>
                                            <td>3600$</td>
                                            <td> <a [routerLink]="['/checkout']" (click)="signIn()" class="btn btn-outline-warning pro__btn">Check out</a></td>
                                        </thead>
                                    </table>
                                </div>

                            </div>

                        </section>

                        <!-- /SECTION -->

                    </div>
                </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>


    <!-- Section -->
    <div class="section">
        <!-- container -->

        <!-- /container -->
    </div>
    <!-- /Section -->
</main>