<article class="card">
    <div class="card__thumb">
        <a href="#"> <img src="https://picsum.photos/id/237/370/235" alt=""></a>
    </div>
    <div class="card__price">
        <div class="card__price__value">
            1200$
        </div>

    </div>
    <div class="card__body">
        <div class="card__category"> <a href="#">Footwear</a> </div>
        <h2 class="card__title"> <a href="">Clymb Men Running Shoes</a> </h2>

        <p class="card__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda fugit unde atque, sapiente, tempore ex temporibus, architecto nulla amet sunt neque alias quod explicabo. Quisquam dignissimos dicta quam enim voluptatum. </p>
    </div>
    <footer class="card__footer">
        <button class="card__btn"><i class="ni ni-bullet-list-67"></i></button>
        <button class="card__btn"> <i class="ni ni-cart"></i></button>
    </footer>
</article>